* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

footer {
    position: relative;
}


h1, h2, h3, h4, p {
    font-family: 'Berkshire Swash';

}

img:hover {
    
    filter: blur(4px);
}

#logoFoot:hover, #logo:hover, #banner img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .cajaPortafolio img:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}



/* FORMULARIO*/

#cajaFormulario {
    background-color: black;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
}

#cajaFormulario h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form input {
    height: 20px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;

}

form textarea {
    width: 70%;
    margin: 5px auto;
}

label {
    color: white;
}

fieldset {
    width: 80%;
    margin: 0 auto;
}

legend {
    color: white;
}







/* ========= Media =============== */

@media screen and (max-width: 468px) {
    /* se uso max width para el modelo Mobil por que los cambios son muy significativos a los otros modos */

    body {
        max-width: 430px;
        min-width: 430px;
        margin: 0 auto;
    }

    /* HEADER */

    nav div img {
        display: block;
        height: 70px;
        margin: 0 auto;
    }

    #menu {
        width: 55%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    nav ul a {
        color: rgb(255, 255, 255);
        background-color: rgb(14, 24, 109);
        border: 2px solid white;
        display: flex;
        justify-content: center;
        height: 25px;
        align-items: center;
        text-decoration: none;
        border-radius: 25px;
        font-size: 12px;
    }

    nav ul a:hover {
        color: #0b0704;
        background-color: aqua;
    }

    li {
        list-style: none;
        text-align: center;
    }

    /* CAJA DECORATIVA */
    #cajaDecorativa {
        background-color: #0b0704;
        width: 80%;
        height: 200px;
        margin: 0 auto;
    }

    #cajaDecorativa2 {
        background-color: rgb(14, 24, 109);
        height: 300px;
        width: 100%;
        margin: 0 auto;
        margin-top: -50px;
    }

    #cajaDecorativa2 h1 {
        color: white;
        font-size: 3.3rem;
    }

    #cajaDecorativa2 h2 {
        color: white;
        font-size: 1.5rem;
    }

    #titulo {
        width: 100%;
        height: 265px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    main>div {
        height: 70px;
        margin-top: -65px;
    }

    /* baner */

    #banner img {
        margin-top: 22px;
        width: 100%;
    }

    #banner {
        max-width: 380px;
        margin: 0 auto;
        position: relative;
    }

    #banner p {
        color: white;
        width: 40%;
        margin-left: 20px;
        position: absolute;
        top: 55px;
        text-align: center;
        font-size: 1.3rem;
    }

    #bannerContacto {
        max-width: 680px;
        margin: 0 auto;
        position: relative;
        background-color: aliceblue;
    }

    #bannerContacto p {
        color: white;
        width: 90%;
        margin-left: 20px;
        position: static;
        text-align: center;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
    }


    /* FOOTER */

    #logoFoot {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #logoFoot img {
        width: 60px;
    }

    footer {
        color: white;
        background-color: #0b0704;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        gap: 10px;
        z-index: 1;
    }

    #mapa {
        text-align: center;
        margin-top: 50px;
    }

    #privacidad a {
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;

    }

    #redes {
        width: 100%;
        background-color: #0b0704;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        gap: 15px;
        z-index: 3;
        justify-content: center;
    }

    #redes img {
        width: 25px;
    }

    hr {
        width: 70%;
        margin-top: -20px;
        z-index: -1;
    }

    /* Introduccion */

    #introduccion {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 180px;
    }

    #introduccion p {
        width: 90%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 15px;
    }

    #introduccion h3 {
        width: 70%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
    }

    #introduccion hr {
        margin-top: 30px;
        width: 70%;
    }

    /* SKILLS */

    section img {
        width: 70%;
        display: flex;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    }

    .skills p {
        color: white;
        width: 70%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 15px;
    }

    .skills h4 {
        color: white;
        margin-top: 20px;
        width: 70%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
    }

    .cajaAdorno {
        border: 13px solid rgb(255, 255, 255);
        position: absolute;
        width: 380px;
        height: 550px;
    }

    .cajaAdorno3 {

        border: 13px solid rgb(255, 255, 255);
        position: absolute;
        width: 380px;
        height: 650px;
    }

    #topSkills h3 {
        color: white;

        margin-top: 90px;
        margin-bottom: -125px;
        font-size: 3rem;
        text-align: center;

    }

    #topSkills>div {
        background-color: rgb(124, 35, 35);
        padding-top: 40px;
        padding-bottom: 100px;
        margin-top: 30px;
    }

    /* PAGINA DE CPNTACTO */

    .datosContacto {
        display: none;
    }

    .datosContactoMobil p {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        width: 90%;
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
    }

    .datosContactoMobil {
        height: 200px;
        padding-top: 10px;
        margin: 0 auto;
    }

    .datosContactoMobil section {
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    #tituloContacto {
        display: none;
    }


    #cajaFormulario {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 1050px;
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    /* pagina biografia */

    #fotoBio {
        width: 100%;
        margin-top: 350px;
        display: flex;
        justify-content: center;
    }

    #fotoBio img {
        width: 80%;
        margin-top: -220px;
    }

    .biografiatexto p {
        line-height: 1.4rem;
    }

    .biografiatexto p:nth-child(2) {
        margin-top: 400px;
    }

    #fotoBio p {
        display: none;

    }

    #textoDerecha {
        display: none;
    }


    /* PORTAFOLIo */

    .cajaPortafolio {
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 1550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    }

    .videoPortafolio {
        margin-top: 20px;
        width: 400px;
        height: 250px;
        margin-left: 15px;
    }

    .audioPorta{
        width: 80%;
        margin-top: 10px;
        z-index: 1;
        margin-left: 50px; 
        padding-bottom: 30px;  
    }

    #decorativa3{
        display: none;

    }


    .cajaImg {
        color: white;
    display: flex;
    flex-direction: column;
        text-align: center;
    }

    .cajaImg div {
        width: 80%;
        margin: 0 auto;
        margin-top: 0px;


    }

    .cajaImg p {
        margin-top: 10px;
        margin-bottom: 40px;



    }


    .cajaPortafolio h1 {
        color: white;
        margin-top: 20px;

    }




    .imagenesPorta img {
        width: 70%;
    }

    .imagenesPorta {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footerPorta {
        margin-top: 0px;
    }


    #tituloPorta {
        display: none;
    }


}







/*============= Tablet =============*/
/* Media min y max por que son muy diferentes segun el dispositivo y casi no comparten atributos */

@media screen and (min-width: 468px) and (max-width: 789px) {
    body {
        max-width: 768px;
        min-width: 768px;
        margin: 0 auto;
    }

    /* HEADER */

    nav {
        display: flex;
        align-items: center;
    }

    nav div img {
        height: 80px;
    }

    #menu {
        width: 55%;
        display: flex;
        flex-direction: row;
        margin-left: 80px;
    }

    nav ul a {
        color: rgb(255, 255, 255);
        background-color: rgb(14, 24, 109);
        border: 2px solid white;
        display: flex;
        width: 100px;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 25px;
        font-size: 12px;
        margin-left: 10px;
    }

    nav ul a:hover {
        color: #0b0704;
        background-color: aqua;
    }

    li {
        list-style: none;
        text-align: center;
    }

    /* CAJA DECORATIVA */
    #cajaDecorativa {
        background-color: #0b0704;
        width: 550px;
        height: 200px;
        margin: auto;
        margin-top: -85px;
    }

    #cajaDecorativa2 {
        background-color: rgb(14, 24, 109);
        height: 480px;
        width: 100%;
        margin: 0 auto;
        margin-top: -60px;
    }

    #cajaDecorativa2 h1 {
        color: white;
        font-size: 3.3rem;
    }

    #cajaDecorativa2 h2 {
        color: white;
        font-size: 1.5rem;
    }

    #titulo {
        width: 100%;
        height: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    main>div {
        height: 70px;
        min-width: 300px;
        margin-top: -65px;
    }

    /* baner */

    #banner img {
        margin-top: 22px;
        width: 100%;
    }

    #banner {
        max-width: 680px;
        margin: 0 auto;
        position: relative;
    }

    #banner p {
        color: white;
        width: 40%;
        margin-left: 20px;
        position: absolute;
        top: 100px;
        text-align: center;
        font-size: 2rem;
    }

    #bannerContacto {
        max-width: 680px;
        margin: 0 auto;
        position: relative;
    }

    #bannerContacto p {
        color: white;
        width: 90%;
        position: static;
        text-align: center;
        font-size: 1rem;
    }

    #footerContacto {
        margin-top: 200px;
    }


    #textoDerecha {
        display: none;
    }





    /* FOOTER */

    #logoFoot {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #logoFoot img {
        width: 60px;
    }

    footer {
        color: white;
        background-color: #0b0704;
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        gap: 10px;
        z-index: -2;
        z-index: 10;
    }

    #privacidad a {
        margin-left: 5px;
        margin-right: 5px;

    }

    #redes {
        background-color: #0b0704;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        gap: 15px;
        z-index: 3;
    }

    #redes img {
        width: 25px;
    }

    hr {
        width: 400px;
        margin-top: -20px;
    }


    /* Introduccion */

    #introduccion {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 180px;
    }

    #introduccion p {
        width: 90%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 15px;
    }

    #introduccion h3 {
        width: 70%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
    }

    #introduccion hr {
        margin-top: 50px;
    }

    /* SKILLSSS */

    #topSkills {
        width: 100%;
        margin-top: 15px;
    }

    #topSkills>div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(124, 35, 35);
        padding-bottom: 80px;
    }

    #topSkills section {
        width: 40%;
    }

    .skills img {
        width: 200px;
        height: 220px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
    }

    #skillBromas {
        margin-top: 110px;
    }

    #skillBromas p {
        color: white;
        width: 120%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 15px;
    }

    .skills p {
        color: white;

        width: 80%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 15px;
    }

    .skills h4 {
        color: white;

        margin-top: 20px;
        font-size: 1.9rem;
        text-align: center;
        line-height: 2rem;
    }

    .cajaAdorno {

        border: 15px solid rgb(255, 255, 255);
        position: absolute;
        width: 330px;
        height: 520px;

    }

    .cajaAdorno3 {
        border: 15px solid rgb(255, 255, 255);
        position: absolute;
        width: 450px;
        height: 470px;
    }

    #topSkills h3 {
        color: white;
        margin-top: 100px;
        margin-bottom: -100px;
        font-size: 3rem;
        text-align: center;
    }

    .datosContacto {
        display: none;
    }

    #mapa {
        text-align: center;
    }

    #mapa iframe {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .datosContactoTablet {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .datosContactoTablet p {
        line-height: 2rem;
        width: 80%;
        margin-left: 35px;
    }

    #cajaFormulario {
        height: 968px;

    }

    #footerContacto {
        margin-top: 100px;
    }


    /* pagina biografia */

    .biografiatexto p {
        line-height: 1.5rem;
        margin-left: 30px;
    }

    #fotoBio {
        width: 100%;
        margin-top: -270px;
        display: flex;
        justify-content: center;
    }

    #fotoBio img {
        width: 70%;
        margin-top: -340px;
    }

    .biografiatexto p:nth-child(2) {
        margin-top: 480px;
    }

    #footerBio {
        margin-top: -50px;
    }


    #fotoBio p {
        display: none;
    }





    /* PORTAFOLIo */

    .cajaPortafolio {
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    }

    #decorativa3{
        display: none;

    }
    

    .audioPorta{
        width: 70%;
        margin-top: 0px;
        z-index: 1;
        margin-left: 115px;  
        padding-bottom: 30px;  
    }



    .videoPortafolio {
        margin-top: 20px;
        width: 70%;
        margin-left: 115px; 
    }

    .cajaPortafolio h1 {
        color: white;
        margin-top: 20px;

    }

    .imagenesPorta img {
        width: 300px;
        height: 300px;
    }




    .cajaImg {

        display: flex;
        color: white;
        flex-wrap: wrap;
        justify-content: center;

    }

    .cajaImg div {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;


    }

    .footerPorta {
        margin-top: 0px;
    }


    .cajaImg p {
        width: 80%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }



    #tituloPorta {
        display: none;
    }


}










/*============= Desktop =========================================*/

@media screen and (min-width: 789px) {

    body {
        min-width: 1349px;
        max-width: 1349px;
        margin: 0 auto;
        width: 100%;
    }

    /* HEADER */

    nav {
        display: flex;
        align-items: center;
    }

    nav div img {
        height: 150px;
    }

    #menu {
        width: 55%;
        display: flex;
        flex-direction: row;
        margin-left: 25px;
    }

    nav ul a {
        color: rgb(255, 255, 255);
        background-color: rgb(14, 24, 109);
        border: 2px solid white;
        display: flex;
        width: 100px;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 25px;
        font-size: 1rem;
        margin-left: 10px;
    }

    nav ul a:hover {
        color: #0b0704;
        background-color: aqua;
    }

    li {
        list-style: none;
        text-align: center;
    }

    /* CAJA DECORATIVA */
    #cajaDecorativa {
        background-color: #0b0704;
        width: 550px;
        height: 400px;
        left: 705px;
        position: absolute;
        margin-top: -40px;
    }

    #cajaDecorativa2 {
        background-color: rgb(14, 24, 109);
        height: 280px;
        width: 100%;
        position: absolute;
        margin: 0 auto;
        margin-top: 60px;
    }

    #cajaDecorativa2 h1 {
        color: white;
        font-size: 4rem;

    }

    #cajaDecorativa2 h2 {
        color: white;
        font-size: 2rem;
    }

    #titulo {
        width: 46%;
        height: 278px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main>div {
        height: 70px;
        min-width: 300px;
        margin-top: -65px;
        position: relative;
    }

    /* baner */

    #banner img {
        margin-top: 22px;
        width: 100%;
    }

    #banner {
        max-width: 680px;
        margin-left: 640px;
        position: relative;
        margin-top: -70px;
    }

    #banner p {
        color: white;
        width: 40%;
        margin-left: 20px;
        position: absolute;
        top: 100px;
        text-align: center;
        font-size: 2rem;
    }

    #bannerContacto {
        max-width: 680px;
        margin-left: 640px;
        position: relative;
    }

    #bannerContacto p {
        color: white;
        width: 40%;
        margin-left: 20px;
        position: absolute;
        top: 100px;
        text-align: center;
        font-size: 2rem;
    }


    /* FOOTER */

    #logoFoot {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #logoFoot img {
        width: 60px;
    }


    footer {
        color: white;
        background-color: #0b0704;
        margin-top: -60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        gap: 10px;
        z-index: -2;
        z-index: 10;
    }

    #privacidad a {
        margin-left: 5px;
        margin-right: 5px;

    }

    #redes {
        background-color: #0b0704;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        gap: 15px;
        z-index: 3;
    }

    #redes img {
        width: 25px;
    }

    hr {
        width: 400px;
        margin-top: -20px;
        z-index: -1;
    }


    /* Introduccion */

    #introduccion {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    #introduccion p {
        width: 80%;
        text-align: center;
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-top: 30px;
    }

    #introduccion h3 {
        width: 70%;
        font-size: 2.3rem;
        line-height: 2rem;
        text-align: center;
    }


    /* SKILLSSS */

    #topSkills {
        width: 100%;
        margin-top: 15px;
    }

    #topSkills>div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(124, 35, 35);
        padding-bottom: 80px;
    }

    #topSkills section {
        width: 28%;
    }

    .skills img {
        width: 240px;
        height: 260px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 210px;
        padding-bottom: 50px;
    }


    #skillBromas p {
        width: 85%;

        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;

    }

    .skills p {

        width: 80%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 15px;
        color: white;

    }

    .skills h4 {
        margin-top: 20px;
        font-size: 2.5rem;
        text-align: center;
        line-height: 2rem;
        color: white;

    }

    .cajaAdorno {

        border: 20px solid white;
        position: absolute;
        width: 400px;
        height: 550px;

    }

    .cajaAdorno3 {

        border: 20px solid rgb(255, 255, 255);
        position: absolute;
        width: 400px;
        height: 550px;
    }

    #topSkills h3 {
        color: white;
        margin-top: 100px;
        margin-bottom: -100px;
        font-size: 5rem;
        text-align: center;
    }


    /* PAGINA DE CPNTACTO */


    .datosContactoMobil {
        display: none;
    }

    #cajaFormulario {
        background-color: black;
        width: 100%;
        height: 750px;
        margin: 0 auto;
        margin-top: -45px;
        padding-top: 10px;
    }

    #cajaFormulario h1 {
        display: none;
    }

    #mapa {
        text-align: center;

    }

    #mapa iframe {
        padding-top: 40px;
        padding-bottom: 40px;
    }



    .datosContacto p {
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
        margin-top: 0px;
        margin-left: 20px;
        padding: 20px;
        padding-top: 5px;


    }

    .datosContacto {
        width: 50%;
        height: 200px;
        padding-top: 80px;

    }

    .datosContacto section {
        height: 100px;
        display: flex;
        flex-direction: column;
    }


    /* pagina biografia */

    #fotoBio {
        width: 80%;
        margin-top: -30px;
        display: flex;
        margin-left: 70px;
        justify-content: center;
    }

    #fotoBio img {
        width: 80%;
        margin-top: 0;
    }

    #textoBioDesk p {
        font-size: 1.4rem; 
        margin-top: -50px; 
    }

    .biografiatextoDesktop {
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        width: 50%;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
        padding: 20px;

    }

    #textoDerecha {
        width: 100px;
        margin-left: 70px !important;
        margin-top: 270px !important;
        padding: 20px;
        width: 80% !important;
        font-size: 1.3rem !important;
        margin-top: 250px;
    }


    /* PORTAFOLIo */




    .cajaPortafolio {
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    }

    .videoPortafolio {
        margin-top: 0px;
        width: 35%;  
        position: relative;
        z-index: 2;
        left: 745px;
        margin-top: -130px;
    }

    .audioPorta{
        position: absolute;
        width: 500px; 
        margin-top: 170px;
        z-index: 1;
        margin-left: 265px;
    }


    .cajaDecoPorta {
        position: relative;
        z-index: 1;
    }

    .cajaPortafolio h1 {
        color: white;
        margin-top: 20px;

    }

    .imagenesPorta img {
        width: 400px;
        height: 400px;
    }

    #fotoGrande {
        width: 100%;
        height: 100%;
    }

    #cajaFotoGrande {
        width: 100%;

    }


    .cajaImg {
        margin-top: 40px;
        display: flex;
        color: white;
        flex-wrap: wrap;
        justify-content: center;

    }

    .cajaImg div {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
        gap: 10px;
    }

    .footerPorta {
        margin-top: 510px;
    }


    .cajaImg p {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #tituloPorta {
        display: block;
    }

    #decorativa3{
        width: 680px;
        height: 320px;
        background-color: #0b0704;
        margin-left: 640px;
        margin-top: 25px;
        position: absolute;
        z-index: 1; 

    }



}