* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid red;
    max-width: 460px; 
    min-width: 460px; 
    margin: 0 auto;
}
/* HEADER */



nav div img {
    display: block;
    height: 70px;
    margin: 0 auto;
}

#menu {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

nav ul a {
    color: rgb(255, 255, 255);
    background-color: rgb(14, 24, 109);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 12px;
}

nav ul a:hover {
    color: #0b0704;
    background-color: aqua;
}

li {
    list-style: none;
    text-align: center;
}

/* CAJA DECORATIVA */
#cajaDecorativa {
    background-color: black;
    width: 300px; 
    height: 200px;
    margin: 0 auto; 
}
#cajaDecorativa2 { 
    background-color: rgb(18, 16, 59);
    height: 200px;
    width: 100%;
    margin: 0 auto;
    margin-top: -50px;
}

main>div{
    height: 70px; 
    min-width: 300px;  
    margin-top: -65px;
} 


#banner img {
    margin-top: 20px;
    width: 100%;
}

#banner {
    max-width: 380px;  
    margin: 0 auto;
    background-color: #0b0704;
    position: relative;
}

#banner p {
    color: white;
    width: 40%;
    margin-left: 20px;
    position: absolute;
    top: 55px;
    text-align: center;
    font-size: 1.3rem;
}







/*============= Tablet =============*/

@media screen and (min-width: 468px) {}

/*============= Desktop ============*/

@media screen and (min-width: 789px) {}